 <!--Load the Turtlebot 3 model-->

<launch>
    <arg name="model"       default="waffle"/>      <!-- doc="model type [burger, waffle, waffle_pi]"-->
    <arg name="ns"          default="turtlebot"/>
    <arg name="x"           default="0"/>
    <arg name="y"           default="0"/>
    <arg name="z"           default="0"/>
    <arg name="roll"        default="0"/>
    <arg name="pitch"       default="0"/>
    <arg name="yaw"         default="0"/>

    <param name="/robot_description" command="$(find xacro)/xacro --inorder $(find terprescue)/models/turtlebot3/turtlebot3_$(arg model).urdf.xacro  namespace:=$(arg ns)" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -param /robot_description -model $(arg ns) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    </node>
  
</launch>
