<launch>
    <!--Launch TerpRescue node-->
    <node pkg="terprescue" type="terprescue" name="terprescue" output="screen" />
    
    <!--Launch AR tag detector node-->
    <include file="$(find terprescue)/launch/includes/ar_detector.launch"/>

    <!--Launch gmapping node-->
    <include file="$(find terprescue)/launch/includes/gmapping.launch"/>
</launch>
